extends layout/base

block plugins_css
 // iCheck for checkboxes and radio inputs
 link(rel='stylesheet' href='/adminlte/plugins/iCheck/minimal/green.css')

block page_css
 link(rel='stylesheet' href='/stylesheets/image-list.css')

block content
 section.content.container
  form#form(method="POST",action="/image/delete")
   .row
    .col-xs-12.col-sm-12
     input#checkbox-header(type="checkbox")
     button.btn.btn-danger(type="submit") Delete
     input(type="text",style="display:none;",name="page",value=page)
   .row
    each image in images
     .col-lg-3.col-sm-6
      .box.box-solid
       .box-body
        .image-wrapper
         img(src=`${static_server}/images/${image.name}` alt=image.name)
        .image-detail
         div
          span
           strong Title&nbsp;
          span=image.title
         div
          span
           strong Size&nbsp;
          span=image.size
         div
          span
           strong Dimensions&nbsp;
          span=`${image.dimensions[0]}x${image.dimensions[1]}`
          .box-tools.pull-right
           input.checkbox-row(type="checkbox",name="list",value=image._id)
    else
     .col-xs-12.col-sm-12
      .center-block.bg-info.text-center No images
  if totalPage > 1
   .row
    .col-xs-12.col-sm-12
     nav(aria-label="Page navigation")
      ul.pagination
       if (page == 1)
        li.disabled
         a(href="/image?page=1" aria-label="Previous")
          span(aria-hidden="true") «
       else
        li
         a(href="/image?page=1" aria-label="Previous")
          span(aria-hidden="true") «
       if (page > 1)
        - var prevPage = Number(page) - 1
        li
         a(href=`/image?page=${prevPage}`)=prevPage
       li.active
        a(href=`/image?page=${page}`)=page
       if (page < totalPage)
        - var nextPage = Number(page) + 1
        li
         a(href=`/image?page=${nextPage}`)=nextPage
       if (page == totalPage)
        li.disabled
         a(href=`/image?page=${totalPage}` aria-label="Next")
          span(aria-hidden="true") »
       else
        li
         a(href=`/image?page=${totalPage}` aria-label="Next")
          span(aria-hidden="true") »

block script
 // load image script
 script(src='/javascripts/image.js')
 // iCheck
 script(src='/adminlte/plugins/iCheck/icheck.min.js')
 script.
  $(function () {
  $('#checkbox-header, .checkbox-row').iCheck({
  checkboxClass: 'icheckbox_minimal-green'
  })
  $('#checkbox-header').on('ifChecked', function (event) {
  $('.checkbox-row').iCheck('check');
  });
  $('#checkbox-header').on('ifUnchecked', function (event) {
  $('.checkbox-row').iCheck('uncheck');
  });
  })